html{
    font-size: 14px;
    color: #161616;
}

body{
    font-family: 'Gotham-Book';
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Gotham-Bold';
    color: #161616;
}

img{
    max-width: 100%;
}

*:hover,*:focus,*:active{
    box-shadow: none !important;
}

a{
    text-decoration: none !important;
    color: #161616 !important;
}

a:hover,a:focus,a:active{
    outline: none !important;
    color: #000;
}

button:hover,button:focus,button:active{
    outline: none !important;
}

form input:focus,
form button:focus{
    box-shadow: none !important;
}

.font-bold{
    font-family: 'Gotham-Bold';
}

.text-bold{
    font-weight: bold;
}

.bg-purity{
    background-color: #F9CED5;
}

.underline-pink{
    position: relative;
}

.underline-pink:after{
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #F9CED5;
}

.opened{
    display: block !important;
}

ol, ul, dl {
    margin: 0;
}

.section-decoration {
    background: #fff url("../img/logo-part.png") no-repeat center top;
}

p.lead {
    margin-bottom: 30px;
}

.form-control{
    border-radius: 0px;
    border: 1px solid #000000;
}

.form-control::placeholder {
    color: #161616;	
    font-family: 'Gotham-Light';
    font-size: 14px;	
    letter-spacing: -0.07px;	
    line-height: 17px;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #161616;	
    font-family: 'Gotham-Light';
    font-size: 14px;	
    letter-spacing: -0.07px;	
    line-height: 17px;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #161616;	
    font-family: 'Gotham-Light';
    font-size: 14px;	
    letter-spacing: -0.07px;	
    line-height: 17px;
}



/***************
****HOMEPAGE****
***************/

/*****HEADER*****/

.header-top li{
    margin-bottom: 10px;
}

.header-location{
    font-family: 'Gotham-Bold';
}

.header-contact p{
    margin-bottom: 0;
}

.header-user a{
    display: block;
    text-align: right;
}

.shop a{
    position: relative;
}

.shop a img{
    width: 20px;
    height: auto;
}

.shop a span{
    position: absolute;
    top: 15%;
    left: 47.5%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 15px;
}

.header-bottom .navbar-brand img{
    width: 80%;
}

.header-bottom .navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(249, 206, 213, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/*.main-nav .nav-link{
    position: relative;
}

.main-nav .nav-link .fa{
    position: absolute;
    right: 0px;
    top: 10px;
    height: 100%;
    font-size: 14px;
    padding: 0 10px;
    color: #ffc7d2;
    display: inline-block;
}*/

.purity-packages-dropdown,
.purity-packages-dropdown li h1,
.shop-products-dropdown{
    display: none;
}

.shop-products-dropdown li{
    padding-bottom: 10px;
}

.search-form input, .search-form input:focus{
    border-color: #ffc7d2;
    border-right: none;
}

.search-form .fa, .search-form .fa:hover{
    font-size: 18px;
    border: 1px solid #ffc7d2;
    border-left: none;
    background: #fff;
}

.show-search{
    display: none;
}

.navbar-nav li:last-of-type{
    order: -1;
}


/*======================================
        BUTTONS
=========================================*/

.btn {
    border-radius: 0;
    padding: 15px 40px;
    text-transform: uppercase;
    font-family: 'Gotham-Bold';
    font-size: 12px;
}

.btn-purity-white {
    background-color: #fff;
    border-color: #000;
}

.btn-purity-transparent {
    background-color: rgba(255,255,255,0);
    border-color: #000;
}


/*======================================
        SLIDERS START
=========================================*/
.main-slider-wrapper{
    background: #fff url("../img/slider-img.png") no-repeat center center;
    background-size: cover; 
    height: 500px;
}

.freckles-wrapper{
    background: #fff url("../img/freckles-slider.png") no-repeat center center;
    background-size: cover; 
    height: 500px;
}

.gel-wrapper{
    background: #fff url("../img/gel-slider.png") no-repeat center center;
    background-size: cover; 
    height: 500px;
}

.girafe-wrapper{
    background: #fff url("../img/girafe-slider.png") no-repeat center center;
    background-size: cover; 
    height: 500px;
}

.authors-slider,
.freckles-slider,
.gel-slider,
.girafe-slider{
    background-color: rgba(255,255,255,0.85);
    padding: 20px 60px;
}

.owl-prev {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.owl-next {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.owl-carousel .owl-nav {
    margin: 0;
}

.owl-carousel .owl-nav [class*="owl-"] {
    background: none;
    color: #161616;
    display: flex;
    align-items: center;
    height: 20px;
    width: 20px;
    justify-content: center;
    padding: 0;
    transition: ease 0.1s;
    font-size: 14px;
}

.owl-carousel .owl-nav [class*="owl-"]:hover {
    background: none;
    color: #F9CED5;
}
/*======================================
        SLIDERS END
=========================================*/


/*======================================
        HOME INFO
=========================================*/

.home-info > div > div > div > div{
    padding: 20px 0;
    border-bottom: 1px solid #161616;
}

.home-info > div > div > div:last-child > div{
    border-right: none;
}

.home-info a{
    display: block;
    transition: ease-in-out 0.2s;
}

.home-info a:hover{
    display: block;
    -ms-transform: scale(1.15, 1.15); /* IE 9 */
    -webkit-transform: scale(1.15, 1.15); /* Safari */
    transform: scale(1.15, 1.15);
}

.buy-box {
    background: #fff url("../img/background-images/bg-img-1.png") no-repeat center center;
}

.how-it-function {
    background: #fff url("../img/background-images/bg-img-2.png") no-repeat center 70px;      
}

.present-and-earn {
    background: #fff url("../img/background-images/bg-img-3.png") no-repeat center center;
}

.home-info p {
    margin: 0;
}

p.buy {
    text-transform: uppercase;
    font-size: 48px;
    margin: 0;
    line-height: 50px;
}

p.box {
    font-family: 'Gotham-Bold';
    text-transform: uppercase;
    line-height: 50px;
    font-size: 48px;
    font-weight: bold;
}

p.how {
    font-family: 'Gotham-Bold';
    line-height: 52px;
    font-size: 52px;
    font-weight: bold;
    margin: 0;
}

p.function {
    text-transform: lowercase;
    font-size: 27px;
    margin: 0;
}

p.gift {
    text-transform: uppercase;
    font-size: 38px;
    margin: 0;
    line-height: 50px;
}

p.earn {
    font-family: 'Gotham-Bold';
    text-transform: lowercase;
    line-height: 50px;
    font-size: 50px;
    font-weight: bold;
}

/*======================================
        SURPRISE START
=========================================*/

.surprise h5 {
    text-transform: uppercase;
    margin: 25px 0;
}





/*======================================
        QUESTIONS_ANSWERS START
=========================================*/
.questions_answers figure{
    margin-top: 20px;
}

.questions_answers h2{
    font-size: 30px;	
    letter-spacing: -1.28px;	
    line-height: 43px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

#accordion .btn{
    white-space: normal !important;
}

#accordion .card{
    border: 0px;
    text-align: center;
}

#accordion .card .card-header{
    background: #fff;
    border: 0px;
}


#accordion h5 button{
    color: #161616;	
    font-family: 'Gotham-Bold';	
    font-size: 18px;	
    letter-spacing: -0.88px;
    line-height: 32px;
}

#accordion h5 button:hover{
    text-decoration: none;
}

#accordion .card .card-body{
    color: #161616;	
    font-family: 'Gotham-Light';	
    line-height: 33px;
    border-bottom: 0.5px solid #F9CED5;
}

#accordion .card:last-of-type h5{
    border: none;
}

.accordion-border{
    border-bottom: 0.5px solid #F9CED5;
}
/*======================================
        QUESTIONS_ANSWERS END
=========================================*/



/*======================================
        SELLING_PLACES START
=========================================*/
.selling_places figure{
    margin-top: 20px;
}

.selling_places h2{	
    font-size: 30px;	
    letter-spacing: -1.28px;	
    line-height: 43px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.selling_places .description{
    color: #161616;	
    font-family: 'Gotham-Light';	
    line-height: 33px;
}

.selling_places .address{
    color: #161616;
    font-family: 'Gotham-Bold';	
    letter-spacing: -0.88px;	
    line-height: 33px;
    margin-bottom: 50px !important;
}

.selling_places .stores h5{
    font-size: 16px;		
    letter-spacing: -0.7px;	
    line-height: 21px;
}

.selling_places .stores p{
    color: #161616;
    font-family: 'Gotham-Light';	
    letter-spacing: -0.7px;	
    line-height: 21px;
}
/*======================================
        SELLING_PLACES END
=========================================*/



/*======================================
        CONTACT_US START
=========================================*/
.contact_us figure{
    margin-top: 20px;
}

.contact_us form{
    margin-bottom: 50px;
}

.contact_us h2{
    font-size: 30px;	
    letter-spacing: -1.28px;	
    line-height: 43px;
}

.contact_us input{
    padding: 15px;
}

.contact_us .form-group{
    margin-bottom: 30px;
}

.contact_us textarea{
    resize: none;
}

.contact_us p{
    color: #161616;	
    font-family: 'Gotham-Light';	
    font-size: 16px;	
    letter-spacing: -0.79px;	
    line-height: 20px;
}
/*======================================
        CONTACT_US END
=========================================*/



/*======================================
        SIGN_UP START
=========================================*/
.sign_up figure{
    margin-top: 20px;
}

.sign_up h2{	
    letter-spacing: -1.28px;	
    line-height: 43px;
}

.sign_up input{
    padding: 15px;
}

.sign_up .form-group{
    margin-bottom: 30px;
}

.sign_up .forgotten_pass{
    font-weight: bold;
}

.sign_up .log_in{
    color: #FFFFFF;	
    font-family: 'Gotham-Light';	
    font-size: 14px;	
    letter-spacing: -0.07px;	
    line-height: 17px;
    padding: 20px 20px;
    border-radius: 0px;
}

.sign_up ul{
    list-style: none;
}

.sign_up .account p,
.sign_up .account li{
    color: #161616;	
    font-family: 'Gotham-Light';	
    font-size: 14px;	
    letter-spacing: -0.61px;	
    line-height: 19px;
}

.sign_up .formular{
    border-bottom: 1px solid #000;
    font-weight: bold;
}
/*======================================
        SIGN_UP END
=========================================*/



/*======================================
        REGISTRATION START
=========================================*/
.registration figure{
    margin-top: 20px;
}

.registration h2{	
    font-size: 30px;	
    letter-spacing: -1.28px;	
    line-height: 43px;
}

.registration input{
    padding: 15px;
}

.registration .form-group{
    margin-bottom: 30px;
}



.registration .log_in{
    color: #FFFFFF;	
    font-family: 'Gotham-Light';	
    font-size: 14px;	
    letter-spacing: -0.07px;	
    line-height: 17px;
    padding: 20px 20px;
    border-radius: 0px; 
}

.registration p{
    color: #161616;	
    font-family: 'Gotham-Light';	
    letter-spacing: -0.61px;	
    line-height: 23px;
}
/*======================================
        REGISTRATION END
=========================================*/



/*======================================
        SUGESTIONS START
=========================================*/
.sugestions figure{
    margin-top: 20px;
}

.sugestions h2{	
    font-size: 30px;	
    letter-spacing: -1.28px;	
    line-height: 43px;
}

.sugestions p{
    color: #161616;	
    font-family: 'Gotham-Light';
    font-size: 16px;	
    letter-spacing: -0.79px;
}

.sugestions input{
    padding: 15px;
}

.sugestions .form-group{
    margin-bottom: 30px;
}

.sugestions .prices{
    color: #161616;	
    font-family: 'Gotham-Light';	
    letter-spacing: -0.61px;	
    line-height: 19px;
    margin-bottom: 30px;
}


/*======================================
        SUGESTIONS END
=========================================*/



/*======================================
        LEAVE_COMMENT START
=========================================*/
.leave_comment figure{
    margin-top: 20px;
}

.leave_comment h2{	
    font-size: 30px;	
    letter-spacing: -1.28px;	
    line-height: 43px;
}

.leave_comment input{
    padding: 15px;
}

.leave_comment p{
    color: #161616;
    font-family: 'Gotham-Light';
    font-size: 14px;	
    letter-spacing: -0.07px;	
    line-height: 17px;
}

.leave_comment .form-group{
    margin-bottom: 30px;
}

.example-fontawesome-o{
    color: red;
}
/*======================================
        LEAVE_COMMENT END
=========================================*/



/*======================================
        INGREDIENTS / DANDRUFF START
=========================================*/
.ingredients h3,
.dandruff h3{
    color: #161616;	
    font-size: 24px;	
    letter-spacing: -0.51px;	
    line-height: 16px;
}

.ingredients ul,
.dandruff ul{
    list-style: none;
}

.ingredients ul li,
.dandruff ul li{
    margin-bottom: 20px;
}

.ingredients ul li a,
.dandruff ul li a{
    color: #161616;	
    font-family: 'Gotham-Light';
    font-size: 14px;		
    letter-spacing: -0.9px;
    position: relative;
    padding-bottom: 5px;
}

.ingredients ul li a:hover,
.ingredients ul li a.active,
.dandruff ul li a:hover,
.dandruff ul li a.active{
    font-weight: bold;
}

.ingredients ul li a:before,
.dandruff ul li a:before{
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: #F9CED5;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s ease;
}

.ingredients ul li:hover a:before,
.dandruff ul li:hover a:before{
    width: 100%;
}

.ingredients p,
.dandruff p{
    color: #161616;	
    font-family: 'Gotham-Light';	
    letter-spacing: -0.61px;	
    line-height: 27px;
}
/*======================================
        INGREDIENTS / DANDRUFF END
=========================================*/






/*======================================
        FOOTER START
=========================================*/
footer .container:first-of-type{
    padding: 50px 30px;
}

footer .follow_us{
    margin-left: 40px;
}

footer ul{
    list-style-type: none;
}

footer ul li a{
    color: #161616;	
    font-family: 'Gotham-Light';	
    letter-spacing: -0.61px;	
    line-height: 36px;
    position: relative;
    padding-bottom: 5px;
}

footer ul li a:before{
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: #000;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s ease;
}

footer ul li:hover a:before{
    width: 100%;
}

footer ul li a:hover{
    font-weight: bold;
}

footer .social{
    padding-bottom: 50px;
}

footer .social .fa{
    font-size: 30px;
    margin-right: 10px;
}

footer .form-group placeholder{
    color: #161616;	
    font-family: Gotham;		
    font-weight: 300;	
    letter-spacing: -0.61px;	
    line-height: 36px;
}

footer .form-control{
    background-color: #F9CED5;
    padding: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #000000;
    border-radius: 0px;
}

footer .form-group input:focus{
    background-color: #F9CED5;
}

footer .newsletter .btn{
    color: #161616;
    font-family: 'Gotham-Bold';		
    font-size: 15px;	
    letter-spacing: -0.06px;	
    line-height: 14px;
    padding: 20px 40px;
    border: 1px solid #000000;
    border-radius: 0px;
}

footer .copyright{
    font-family: 'Gotham-Light';		
    letter-spacing: -0.61px;	
    line-height: 36px;
    padding: 5px 0px;
}

/*======================================
        FOOTER END
=========================================*/